.head h1{
    color: #ffffff;
    font-family:'Titillium Web',sans-serif;
}
.head h2{
  color: #ffffff;
  background-color: #78e9d2;
  font-family:'Titillium Web',sans-serif;
}
.head h2:hover{
  color:#ffffffcb;
  background-color: #1defc5c9;
}
/* .head img {
  background-size: cover;
} */