
h3  {
color: white;
background-color:#c197d5;
height: 70px;
font-family: PT serif;
font-size: 35px;

}
.headercategory {
font-family: PT serif;
font-size: 22px;
margin-left: 30px;
}
.group{
margin-top: 30px ;

}
.btn {

    font-family: PT serif;
    font-size: 18px;
}
.card2{

height: 550px;
width: 230px;

}

.cart-btn {

    outline: none;
    background-color: transparent; /* to hide backegroud */
    border-width: 0px; 

}
