
.card-text{

    font-family: sans-serif;
    font-size: 20px;
}

.card-img-top
{
height: 200px;
}
.card3
{
    width: 200px;
}

.btncart{

    background-color : #c197d5;
    border:#c281e0;
    width:150px;
    height: 30px;
    color: rgb(255, 255, 255); /*color of Font*/
    font-size:18px;
    border-radius: 3px;
   font-family: 'Titillium Web', sans-serif;
}
.btncart:hover{ /* th change state of button*/
        background-color: #ab80be;;
        transition: 0.4s; /* To make the change less sudden*/
}
