.head h1 {
	color: #ffffff;
	font-family: 'Titillium Web', sans-serif;
}
.head .imgback{
	background-size: cover;
}
.head .headbtn {
	color: #ffffff;
	background-color: #78e9d2;
	font-family: 'Titillium Web', sans-serif;
}

.head .headbtn:hover {
	color: #ffffffcb;
	background-color: #1defc5c9;
	/* transition: all 0.3s ease;
  transform: scale(1.1);
  z-index: 2; */
}

.head .container {
	flex-direction: column;
}

.head .carousel-item.active h1 {
	animation: fadeInLeft 1s ease forwards;
}

.head .carousel-item.active .headbtn {
	animation: fadeInRight 1s ease forwards;
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}