<<<<<<< HEAD
.carousel-control-prev-icon , .carousel-control-next-icon {
=======
.carousel-control-prev-icon,
.carousel-control-next-icon {
>>>>>>> 825715e5411043ff4ea149b36410634e935202f8
    height: 50px;
    width: 50px;
    color: #c197d5;
    background-color:#c197d5; 
}
<<<<<<< HEAD
=======

.offers {
    background-color: #7cd1c5;
}
>>>>>>> 825715e5411043ff4ea149b36410634e935202f8
