.write{
  font-family:'Titillium Web',sans-serif;

}
    .card{
        top: 50%;
    }
 .text-center{
    font-family:'Titillium Web',sans-serif;
  } 
  .gmap_iframe{
    height: 300px;
    width: 500px;
    margin-left: 27.5%;
 }
  