.card:hover{
    box-shadow:10px 10px 20px 10px rgba(0, 0,0, 0.253);
    transition: all 0.3s ease;
    transform: scale(1.1);
    z-index: 2;
}

.card-text{

    font-size:.9rem
    padding 0.4rem 1.9rem
}

.container-fluid.row{

    padding-top:6rem;
}

.header-texts{
    color:rgb(0, 0, 0);
}

body{

    background-color:azure
}