  .ServicesPageTemplete
{ 
    text-align: center;
}  
.title
{
    color: #98CFD8; 
    font-family:'Titillium Web',sans-serif;
  
    
} 
 .ServicesPage
{
     flex-direction: column;  
    
}
.ServicesPageTemplete img
 {
   width: webkit-fill-available; 
   width: 30%;
   height: 30%;
}  
