.btn{
    background-color: #c197d5;
}

.write{

    font-family:'Titillium Web',sans-serif;
}
.socialmed{
color: #c197d5;
}

.icons{
    margin-left: 68%;
    margin-top: -27%;
}
.textt{
margin-top:20% ;
margin-left: 70%;
}
.texttt{
    margin-top: 25% ;
    margin-left: 70%;
}
.text1{
    margin-top:28% ;
    margin-left: 70%;
}
.text2{
    margin-top:31% ;
    margin-left: 70%;
}
.text3{
    margin-top:33% ;
    margin-left: 70%;
}
.text4{
    margin-top:35% ;
    margin-left: 70%;
}
.gmap_iframe{
    margin-top:50% ;
   
}
