.offers .card {
    width: 230px;
    height: 280px;
    transition: 0.5s;
    margin-top: 30px;
}

.offers .card:hover {
    transform: scale(1.1);
}

.offers .img-fluid {
    width: 100%;
    height: 100%;
    object-fit: cover;
}