/* @import url(https://fonts.google.com/specimen/Titillium+Web);
body 
{ 
    background-color: #111111 ;
}
 
 h1
 {
    color: #0a0909;
    font-size: 40px;
    font-family:'TitilliumWeb';
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 200px;
    left: 650px;
 }
.cord
{
    border-radius : 60%;
    width:500px; 
    height:300px;

}
.landscape img
{ 
    width:400px; 
    height:300px;
    display:block;
    float:right;
    left :500px; 
}

#accordion-body
{
    text-align: center;
    color:black; 
    font-family:'TitilliumWeb';

}
.card
{
    border-radius : 60%;

}
.container
{ width:40px; 
    height:30px;

} 
*{
    background-color: #98CFD8;
    }
    .services-title{
        text-align: center;
        background-color: #041113;
        padding-top: 50px;
        color: #fff;
    }
    .container{
        background-color: #98CFD8;
    }
    .ser-card-title{
        text-align: center;
        padding-top: 30px ;
        background-color: #98CFD8;
        color: #fff;
        
    }
    .ser-card-text{
        text-align: center;
        background-color: #98CFD8;
        padding: 20px;
        color: #fff;
        
    }
    .services-card{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
    }
    .services-card img{
        width:150px;
        height: 150px;
        border: 6px solid #fff;
        border-radius: 50%;
    background-color: #98CFD8 ;

    }

*/
*{
    background-color: #98CFD8;
    }
    .services-title{
        text-align: center;
        background-color: #98CFD8;
        padding-top: 50px;
        color: #fff;
    }
    .container{
        background-color: #98CFD8;
    }
    .ser-card-title{
        text-align: center;
        padding-top: 30px ;
        background-color: #98CFD8;
        color: #fff;
        
    }
    .ser-card-text{
        text-align: center;
        background-color: #98CFD8;
        padding: 20px;
        color: #fff;
        
    }
    .services-card{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
    }
    .services-card img{
        width:150px;
        height: 150px;
        border: 6px solid #fff;
        border-radius: 50%;
    }
    .containerr h1
    {
        left: 1000px;
    }
    
    