<!DOCTYPE html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" 
 rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
 crossorigin="anonymous">
<html lang = "en"> 
    <hede>
        <title> 
            about us page 
        </title>
        <link rel="stylesheet" href="about.css"> 
    </hede>
    <body>
       
         <div class="post" >
            <h4 class="title" >
                <p id="Paragraph">
                     <h4>At Centre Spa &amp; Wellness, Centre Spa and Wellness the Kalamazoo Area's Premier Day Spa and Salon</h4></p></div> 
                     <script language="JavaScript">
                     function setVisibility(id)
                       {  
                            if(document.getElementById('bt1').value=='Hide Layer'){
                                document.getElementById('bt1').value = 'Show Layer';
                                document.getElementById(id).style.display = 'none';
                             }else{
                                document.getElementById('bt1').value = 'Hide Layer';
                                document.getElementById(id).style.display = 'inline';
                             }
                        }
               </script>  
                
                       <input type=button name=type id='bt1' value='Show Layer'onclick="setVisibility('para_2');";> 
                       <p id ="para_2"> 
                        we believe in providing our luxury day spa, hair salon, and wellness guests with the best experience possible. 
                        Focused on your satisfaction, our experienced team of the Kalamazoo area’ s best hair stylists, nail technicians, estheticians, 
                        and massage therapists create a relaxing and comforting atmosphere for all of our guests. To learn more about Centre Spa and our
                        team or to apply for a career with us, select an item from the options below. </p>
                       <br><br> 
                       <script language="JavaScript">
                        function setVisibility(id)
                          {  
                               if(document.getElementById('bt1').value=='Hide Layer'){
                                   document.getElementById('bt1').value = 'Show Layer';
                                   document.getElementById(id).style.display = 'none';
                                }else{
                                   document.getElementById('bt1').value = 'Hide Layer';
                                   document.getElementById(id).style.display = 'inline';
                                }
                           }
                  </script>  
                          <div data-ux="ContentBasic" index="0" class="x-el x-el-div x-el c1-1 c1-2 c1-13 c1-76 c1-4 c1-db c1-9d c1-18 c1-dc c1-dd c1-b c1-c c1-de c1-df c1-d c1-e c1-f c1-g c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g"><h4 role="heading" 
                            aria-level="4" data-ux="ContentHeading" 
                            data-aid="ABOUT_HEADLINE_RENDERED0" data-typography="HeadingDelta" class="x-el x-el-h4 c1-1 c1-2 c1-1o c1-1p c1-dg c1-21 c1-22 c1-23 c1-w c1-5l c1-7l c1-dh c1-v c1-b c1-24 c1-2o c1-26 c1-2p c1-2q c1-2r c1-2s">
                            Passionate Spa Experts</h4>
                          <input type=button name=type id='bt1' value='Show Layer'onclick="setVisibility('m');";> 
               <div id ="m" data-ux="SplitItem" 
               class="x-el x-el-div c1-1 c1-2 c1-13 c1-2w c1-1a c1-s c1-t c1-b c1-c c1-co
                c1-cp c1-cq c1-d c1-cr c1-cs c1-ct c1-cu c1-e c1-cv c1-cw c1-cx c1-cy c1-cz c1-d0 c1-d1 c1-d2 c1-d3 c1-d4 c1-d5 c1-d6 c1-d7 c1-f c1-g">
               <section data-ux="SectionSplit"
                class="x-el x-el-section c1-1 c1-2 c1-3 c1-h c1-bh c1-d8 c1-2w c1-4 c1-b c1-c c1-k c1-l c1-d c1-e c1-f c1-g">
                <div data-ux="Container" class="x-el x-el-div c1-1 c1-2 c1-o c1-p c1-q c1-r c1-s c1-b c1-c c1-d c1-e c1-f c1-g">
                    <div data-ux="Block" class="x-el x-el-div c1-1 c1-2 c1-4 c1-18 c1-b c1-c c1-d c1-9l c1-7z c1-d9 c1-z c1-da c1-e c1-f c1-g">
                        <h2 role="heading" aria-level="2" data-ux="SectionSplitHeading" data-aid="ABOUT_SECTION_TITLE_RENDERED" alignmentoption="left" 
                        data-typography="HeadingBeta" class="x-el x-el-h2 c1-9n c1-3e c1-1o c1-1p c1-9o c1-21 c1-22 c1-23 c1-bj c1-9q c1-9r c1-3f c1-bk c1-9t c1-9u c1-9v c1-9w c1-9x c1-bl c1-ay c1-az c1-9z c1-a0 c1-6s c1-b c1-c c1-24 c1-26 c1-d c1-9l c1-e c1-f c1-g"><span data-ux="Element"
                         class=""></span></h2><div data-ux="Content" class="x-el x-el-div c1-1 c1-2 c1-bj c1-b c1-c c1-d c1-e c1-f c1-g">
                        <div data-ux="ContentText" alignment="left" data-aid="ABOUT_DESCRIPTION_RENDERED0" data-typography="BodyAlpha" class="x-el c1-1 c1-2 c1-1o c1-1p c1-4i c1-23 c1-w c1-di c1-dj c1-dk c1-dl c1-dm c1-dn c1-do c1-dp c1-dq c1-dr c1-ds c1-dt c1-du c1-dv c1-dw c1-dx c1-dy c1-dz c1-e0 c1-e1 c1-e2 c1-e3 c1-e4 c1-e5 c1-e6 c1-e7 c1-e8 c1-e9 c1-2w c1-b c1-35 c1-c c1-26 c1-d c1-e c1-f c1-g x-rt"><p style="margin:0">
                         <span><p id ="s">For the past 10 years, we have helped businesses create their brand presence and achieve their goals. Our process is designed to empower your brand and outfit your business with the tools needed to succeed. Talk to us today about how we can support your growth, limit your turnover, and put you on a solid track to success and profit.</p></span></p></div></div></div></div></section></div></div>
                      <div class="landscap">
                        
                            <img src ="img/OIP.jpg">
                           </div>
                         
                        <main>
                  <aside>
                 <div id ="social-Media">
                    <a class="btn btn-outline-dark" href="">
                        <svg xmlns="http://www.w3.org/2000/svg"
                         width="16" height="16" fill="currentColor"
                         class="bi bi-facebook" viewBox="0 0 16 16">
                        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/></svg></a>
                        <a class="btn btn-outline-dark" href="">
                        <svg xmlns="http://www.w3.org/2000/svg" 
                        width="16" height="16" fill="currentColor"
                       ` class="bi bi-whatsapp" viewBox="0 0 16 16">
                        <path d="M13.601 2.326A7.854 7.854 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.933 7.933 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.898 7.898 0 0 0 13.6 2.326zM7.994 14.521a6.573 6.573 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0
                         0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.557 6.557 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592zm3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.729.729 0 0 0-.529.247c-.182.198-.691.677-.691 1.654 0 .977.71 1.916.81 2.049.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232z"/></svg></a>
                        <a class="btn btn-outline-dark" href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-messenger" viewBox="0 0 16 16">
                        <path d="M0 7.76C0 3.301 3.493 0 8 0s8 3.301 8 7.76-3.493 7.76-8 7.76c-.81 0-1.586-.107-2.316-.307a.639.639 0 0 0-.427.03l-1.588.702a.64.64 0 0 1-.898-.566l-.044-1.423a.639.639 0 0 0-.215-.456C.956 12.108 0 10.092 0 7.76zm5.546-1.459-2.35 3.728c-.225.358.214.761.551.506l2.525-1.916a.48.48 0 0 1 .578-.002l1.869 1.402a1.2 1.2 0 0 0 1.735-.32l2.35-3.728c.226-.358-.214-.761-.551-.506L9.728 7.381a.48.48 0 0 1-.578.002L7.281 5.98a1.2 1.2 0 0 0-1.735.32z"/></svg></a>
                        <a class="btn btn-outline-dark" href="https://www.google.com/maps/place/Nagham.Pro/@32.224243,35.2466208,17z/data=!3m1!4b1!4m5!3m4!1s0x151ce19096423d5f:0x34306c6102b97f21!8m2!3d32.224243!4d35.2444321">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                    </svg>
                </a>
            </div>  
        </aside>  
    </main>   
</div>
</body>
</html>
