.booknow{

    background-color:#E78886;
    border:#F5CFCE;
    width:145px;
    height: 45px;
    color: white;
    font-size: large;
    border-radius: 10px;
   /* font-family:PT Serif; */

}
.booknow:hover{ /* th change state of button*/

    
        background-color: #f07977;
        transition: 0.4s; /* To make the change less sudden*/
   



}