*{
    margin: 0px;
    padding: 0px;
}

.footer{
    font-family:'TitilliumWeb', sans-serif;
    background-color: #c197d5;
    padding: 3.1em;
    margin-top: 5em;
    color: white;
}
.footer .row{
    margin-left: 0px;
    margin-right: 0px;
}
/*.footer .box{
    position:absolute;
    top:17%;
    background:whitesmoke;
    width: 90%;
    height: 39%;
    opacity: 0.2;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}*/
#Logo{
    width:150px;
    height: 130px;
}
.footer #offerEmail{
    margin-bottom: 10px;
}
.footer h6{
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}
.footer ul{
    list-style-type: none;
    line-height: 30px;
    font-size: 18px;
    margin-bottom: 0;
    padding-left: 15px;
}
.footer ul a{
    text-align: center;
    text-decoration: none;
    color: white;
    transition: 0.3s;
    margin: right 50px; ;
}
.footer ul a:hover{
    opacity: 0.8;
}
.footer .social{
    width: 100%;
    text-align: center;
    padding: 2.5em;
    margin-top: 3.1em;
    border-top: solid white;
}
.footer .social a{
    font-size: 22px;
    line-height: 40px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid white;
    width: 45px;
    height: 45px;
    box-shadow: 0px 0px 0px 1px white;
    margin: 10px;
    opacity: 0.8;
    transition: 0.3 ease-in-out;
}
.footer .social a:hover{
     opacity: 0.9;
     box-shadow: 0px 1px 3px 2px white;
}
.footer .copyRight{
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 16px;
}
@media(max-width: 768px){
    .footer h6{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .footer #Logo{
        margin-left: 35%;
        margin-bottom: 25px;
    }
    form{
        margin-bottom: 15px;
    }
    .footer ul{
        text-align: center;
    }
    .social{
         margin: 0 auto;
        }
    /*.box{
        left: 5%;
        height: 65%;
    }*/
}