@import url(https://fonts.google.com/specimen/Titillium+Web);

.headd{
  display: flex;
  align-content: center;
  position:relative;
}
.headd h1{
    color: #ffffff;
    font-size: 32px;
    font-family:'TitilliumWeb';
    font-weight: bold;
    text-align: center;
}
.headd h2{
  color: #ffffff;
  background-color: #78e9d2;
  box-shadow: 0.5px 6px #6cd4bf;
  padding: 20px;
  letter-spacing: 1.5px;
  font-size: 30px;
  font-family:'TitilliumWeb';
  text-align: center;
}
.headd h2:hover{
  opacity: 0.9;
  transform: scale(1.1); 
  color:#ffffffcb;
  background-color: #1defc5;
}
