@import url(https://fonts.google.com/specimen/Titillium+Web);
.headd  h1{
    color: #ffffff;
    font-size: 40px;
    font-weight: 600;
    font-family:'TitilliumWeb';
    text-align: center;
    position:relative;
  top : 20px;
}
.headd h2{
    position:relative;
    background-color: #78E9D2;
    color: rgba(255, 255, 255, 0.872);
    padding: 25px;
    text-align: center;
    padding-left: 10px;
    font-size: 20px;
    letter-spacing: 3px;
    top: 29px;
    font-family:'TitilliumWeb';
}