.headd{
    background-color:  #F5CFCE;
    height: 493px;
    width: 100%;
    float:left;
    margin-right: -100%;
    position: relative;
    opacity: 1;
    display: block;
    z-index: 2;
}
.headd img{
    position: relative;
    height: 100%;
    width: 100%;
    float:left;
}
.headd h1{
    color: #2B2B2B;
    font-size: 60px;
    font-weight: 600;
    font-family: serif;
    position: absolute;
    top: 30%;
    left:80px;
    width: 100%;
}
.headd h2{
    color: #2B2B2B;
    font-size: 20px;
    font-weight: 600;
    font-family:serif;
    position: absolute;
    width: 700px;
    top: 60%;
    left: 30px;
}
.headd p{
    color: #2B2B2B;
    font-size: 30px;
    font-weight: 600;
    font-family:sans-serif;
    position: absolute;
    width: 700px;
    top: 46%;
    left: 50px;
};