@import url(https://fonts.google.com/specimen/Titillium+Web);

.head h1{
    color: #ffffff;
    font-family:'TitilliumWeb';
    text-align: center;
}
.head h2{
  color: #ffffff;
  background-color: #78e9d2;
  font-family:'TitilliumWeb';
}
.head h2:hover{
  color:#ffffffcb;
  background-color: #1defc5;
}