*{
    background-color: #98CFD8;
    }
    .services-title{
        text-align: center;
        background-color: #98CFD8;
        padding-top: 50px;
        color: #fff;
    }
    .container{
        background-color: #98CFD8;
    }
    .ser-card-title{
        text-align: center;
        padding-top: 30px ;
        background-color: #98CFD8;
        color: #fff;
        
    }
    .ser-card-text{
        text-align: center;
        background-color: #98CFD8;
        padding: 20px;
        color: #fff;
        
    }
    .services-card{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
    }
    .services-card img{
        width:150px;
        height: 150px;
        border: 6px solid #fff;
        border-radius: 50%;
    }