




.wellness body {
    background-color: #f5cfce;
    
}
.wellness h1 {
    text-align: center;
    }

    .wellness img{
        width:400px;
        height:300px;

    }
    .wellness h5{
        background-size: cover; 
        }
      