.ser .btnser {
    background-color: #c197d5;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    font-family: 'Titillium Web', sans-serif;
    float: right;
}

.ser .btnser:hover {
    background-color: #a97abd;
    transition: 0.4s;
}

.ser .filser {
    background-color: #c197d5;
    font-family: 'Titillium Web', sans-serif;
}

.ser button {
    color: #fff;
}

.ser button:hover {
    color: rgb(225, 216, 249);
}

.ser .img-fluid {
    height: 200px;
    width: 200px;
}