.hlfont{
    font-family: 'PT Serif', serif;
  
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#c197d5;
    text-align: right;
  }
  
  li {
    float: right;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: right;
    padding: 20px 20px;
    text-decoration: none;
   
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: #BA3DF3;
  }
  