body {
  background-color: #fff;
}

.card {
  top: 50%;
  left: 50%;
}

.about .text-center {
  font-family: 'Titillium Web', sans-serif;
}

.about .card-text {
  font-family: 'Titillium Web', sans-serif;
}

.about .card-titel {
  font-family: 'Titillium Web', sans-serif;
}

.about .gmap_iframe {
  height: 300px;
  width: 500px;
  margin-left: 27.5%;
}