
.footer{
    font-family:'TitilliumWeb', sans-serif;
    background-color: #c197d5;
    padding: 3.1em;
    margin-top: 5em;
    color: white;
    font-family:'Titillium Web',sans-serif;
}
#Logo{
    width:150px;
    height: 130px;
}
.footer form button{
    background-color: #78e9d2;
    border-color: #78e9d2;
}
.footer form button:hover{
    border-color: #78e9d2;
    opacity: 0.8;
    background-color: #78e9d2;
}
.footer h6{
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}
.footer ul{
    list-style-type: none;
    line-height: 30px;
    font-size: 18px;
    margin-bottom: 0;
}
.footer ul a{
    text-align: center;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.footer ul a:hover{
    opacity: 0.8;
}
.footer .social{
    width: 100%;
    text-align: center;
    padding: 2em;
    margin-top: 3.1em;
    border-top: solid white;
}
.footer .social a{
    font-size: 22px;
    line-height: 40px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid white;
    width: 45px;
    height: 45px;
    box-shadow: 0px 0px 0px 1px white;
    margin: 10px;
    opacity: 0.8;
    transition: 0.3 ease-in-out;
}
.footer .social a:hover{
     opacity: 0.9;
     box-shadow: 0px 1px 3px 2px white;
}
.footer .copyRight{
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 16px;
}
@media(max-width: 768px){
    .footer h6{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .footer #Logo{
        margin-left: 35%;
        margin-bottom: 25px;
    }
    form{
        margin-bottom: 15px;
    }
    .footer ul{
        text-align: center;
    }
    .social{
         margin: 0 auto;
        }
    /*.box{
        left: 5%;
        height: 65%;
    }*/
}