.headerpage {
    color: white;
    background-color: #c197d5;
    font-family: 'Titillium Web', sans-serif;
    font-size: auto;
    letter-spacing: 0.7rem;
    padding: 1rem;
    animation:fadeInRight 1s ease forwards;

}
