
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#c197d5;
    text-align: right;
  }
  ul a{
    float: left;
  }
  li {
    font-family:'Titillium Web',sans-serif;
    float: right;
  }
  li a, .dropbtn {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: right;
    padding: 20px 20px;
    text-decoration: none;
  }
  li a:hover, .dropdown:hover .dropbtn {
    color: #c197d5;
    background-color: #78e9d2b5;
  }
  