.navbarr li a,
.dropbtn {
  display: inline-block;
  color: rgb(255, 255, 255);
  text-align: right;
  padding: 20px 20px;
  text-decoration: none;
}

.navbarr li a:hover,
.dropdown:hover .dropbtn {
  background-color: #9a76ab;
  transform: scale(1.1);
}

.navbarr .logo img {
  width: 70px;
  height: 40px;
}

.navbarr .bookingbtn{
	background-color: #78e9d2;
}
.navbarr{
  background-color: #c197d5;
  font-family: 'Titillium Web', sans-serif;
}
