ul,li{
    margin: 0;
    padding: 0;
}
section{
    width: 85%;
    margin: 50px auto;
    background-color: #fff;
    font-family: 'Titillium Web',sans-serif;
}

ul{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-bottom: 2px solid #E5E7E9;
    padding-bottom: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
ul li{
    list-style: none;
    background-color: #E5E7E9;
    padding: 5px 10px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 1.2em;
}
ul li.active{
    background-color: #98CFD8;
}
